body {
    font-size: 3rem;
    padding: 1em;
    white-space: nowrap;
}

/*
.NFOLD_Child > .NFOLD {
    border: none;
}*/

.editableThing > .NFOLD {
    margin-top: 0.4em;
}

.editableThing.marked {
    background-color: darkblue;
    color: white;
}

.marked .boxDescriptorText {
    background-color: darkblue;
    color: white;
}

.marked .editableThing {
    border-color: white;
}
.marked .NFOLD {
    border-color: white;
}

.editableThing.unbordered {
    border: none;
}

.editableThing.unbordered {
    border: none;
}

.NFOLD.unbordered {
    border: none;
}

.NFOLD.unbordered > .boxDescriptor {
    display: none;
}

.NFOLD {
    display: inline-block;

    border: 0.05em solid black;

  /*  border: none;*/
    text-align: center;
}
/*
.NFOLD > .boxDescriptor {
    display: none;
}*/

.editableThing + .editableThing{
    margin-left: -0.07em;
}
.editableThing {
    display: inline-block;
    padding: 0.02em;
    border: 0.03em dashed black;
    position: relative;
}


/*
.NFOLD > .editableThing {
    border: none;
}*/

.editableThing.focused {
    box-shadow: 0 0 3px blue;
}

.editableThing > .NULL {
    margin: 0.02em 0.1em;
}
/*
.NFOLD > .editableThing {
    margin-left: -0.05em;
    margin-bottom: -0.05em;
    margin-right: -0.05em;
}*/

.boxDescriptor {
    text-align: center;
    margin-top: -0.85em;

}

.boxDescriptorText {
    font-size: 0.5em;
    display: inline-block;
    background-color: white;
}


.caret {
    content: "|";
    position: absolute;
    animation: blink step-end 1s infinite;
    color: darkviolet;
}


.editableThing > .caret.left {
    left: -0.2em;
}

.editableThing > .caret.right {
    right: -0.2em;
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.NULL > .caret.left {
    left: -0.15em;
}


.NULL > .caret.right {
    right: -0.15em;
}

.NULL {
    display: inline-block;
    position: relative;
    background-color: red;

}
.NULL.opt {
    background-color: gray;
}

.NULL.opt.marked {
    background-color: darkblue;
}

.letter {
    display: inline-block;
}