html {
    font-size: 1rem;
    padding: 1em;
}

button {
    font-size: 1.2rem;
}

textarea {
    font-size: 1.2rem;
    height:10em;
    text-align: center;
}



.expression {
    padding-top: 1em;
    margin-bottom: 1em;
    text-align: center;

}

.box {
    display: inline-block;
    border: 0.18em solid blue;
    border-radius: 4px;
    vertical-align: middle;
    margin-top: 0.2em;
}

.box.red {
    border-color: darkred;
}

.boxDescriptor {
    margin-top: -0.7em;
}

.boxDescriptorText {
    display: inline-block;
    background-color: white;
    margin: 0 0.2em;
}

.boxContent {
    font-size: smaller;
}

.boxSection:not(:first-child) {
    border-top: 0.18em solid blue;
}



.boxSection {
    padding: 0.4em;

}

.boxSection > *:not(:first-child) {
    margin-left: 1em;
}


.expression > *:not(:first-child) {
    margin-left: 1em;
}


.literal {
    display: inline-block;
    vertical-align: middle;
}