body {
    font-size: 2em;
}

.arrowContainer {
    position: relative;
    border: solid black 1px;
    height: 300px;
    width: 600px;
}

.arrow {
    position: absolute;
    top: 20px;
    left: 100px;
    background-color: orange;
}

.leftEnd {
    position: absolute;
    left: 100px;
    width: 4px;
    height: 30px;
    transform: rotate(25deg);
    transform-origin: top;
    background-color: inherit;
}

.rightEnd {
    position: absolute;
    left: 100px;
    width: 4px;
    height: 30px;
    transform: rotate(-25deg);
    transform-origin: top;
    background-color: inherit;

}
/*
.line3 {
    position: absolute;
    left: 100px;
    background-color: inherit;

    height: 84px;
    width: 4px;

}
.line2 {
    position: absolute;
    top: 80px;
    background-color: inherit;

    height: 4px;
    width: 100px;

}
*/
.line1 {
    position: absolute;
    top: 80px;
    height: 100px;
    width: 4px;
    background-color: inherit;

}

.line3 {
    position: absolute;
    left: 100px;
    background-color: inherit;

    height: 84px;
    width: 4px;

}
.line2 {
    position: absolute;
    top: 80px;
    background-color: inherit;

    height: 4px;
    width: 100px;

}


.crossover2 {
    position:absolute;
    top: 71px;
    left: 20px;

    width: 26px;
    height: 13px;

    background-color: transparent;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border: 4px solid blue;
    border-bottom: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.preCrossover2 {
    position: absolute;
    top: 80px;
    left: 20px;

    width: 26px;
    height: 4px;
    background-color: white;
}


.line1 {
    position: absolute;
    top: 80px;
    height: 100px;
    width: 4px;
    background-color: inherit;

}

.line1Break {
    position: absolute;
    top: 80px;
    height: 100px;
    width: 4px;
    background-color: inherit;

}


