body {
    background-color: lightskyblue;
    color: black;
    border-color: black;
    white-space: nowrap;
}

.decreaseFontSize {
    font-size: smaller;
}


.editor {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    transition: font-size 1s;
}

.editor:active {
    font-size: 3em;
}

.verticalBlockContainer {
     display: inline-block;
     padding: 1em;
     vertical-align: middle;
 }

.verticalBlockContainer > *:not(:first-child) {
    margin-top: 1em;
}

.block {
    position: relative;
    border: 0.1em solid black;
    text-align: center;
    min-width: 100px;
    min-height: 40px;
    height: 100%;
    vertical-align: middle;

}

.round {
    border-radius: 5px;
}


.JOIN {
    display: inline-block;
    vertical-align: middle;
}

.joinSymbol {
    font-size: 2.5em;
}

.table {
    display: inline-block;
    text-align: center;
    border: 0.1em solid black;
    vertical-align: middle;


}

.tableDescriptor {
    border-bottom: 0.1em solid black;
}

.tableContent {
}

.tableOp {
    display: inline-block;
    font-size: 2.5em;
    vertical-align: middle;
}


.blockDescriptor {
    position: relative;
    margin-top: -0.7em;
    z-index: 0;
}

.blockDescriptorText {
    background-color: lightskyblue;
    display: inline-block;

}

.blockContent  {
    position: relative;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    padding: 1em;

}

.whereLine:not(:first-child) {
    margin-top: 1em;
}

.literal {
    font-size: 1.4em;
}