body {
    background-color: lightskyblue;
    font-size: 20px;
    padding: 10px;
}

.selector {
    opacity: 0;
    font-size: x-large;
    background-color: darkviolet;
    border-radius: 1.5px;
}

.selector.inside {
    position: relative;
    left: 1px;
}

.selector.real {
    opacity: 1;
    position: absolute;
    transition: top 0.5s, left 0.5s;
}

.selector.steady {
    animation: ding 1s infinite step-end;
}


@keyframes ding {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: darkviolet;
    }
}


.verticalBlockContainer {
     display: inline-block;
     border: 2px solid black;
     padding: 1px;

 }

.verticalBlockContainer > *:not(:first-child) {
    margin-top: 10px;
}

.block {
    position: relative;
    border: 0.1em solid;
    text-align: center;
    min-width: 100px;
    min-height: 40px;
    padding: 10px 5px;
    height: 100%;
    vertical-align: middle;
}

.round {
    border-radius: 5px;
}


.blockDescriptor {
    background-color: lightskyblue;
    position: relative;
    bottom: 1.1em;
    display: inline-block;
    z-index: 0;
}

.blockContent  {
    position: relative;
    margin-top: -0.5em;
    z-index: 1;
    text-align: center;
}

.block.optionalStyle {
    border-color: rgba(0, 0, 0, 0.55);
}

.textInput {
    display: inline-block;
    position: relative;
    bottom: 5px;
    text-align: center;

}

.textInputContent {
    display:inline-block;
    position: relative;
    background-color: white;
    border: 0.1em solid black;
    min-width: 20px;
}

.autoCompleteBox {
    position: absolute;
    border: 1px solid black;
    width: 100px;
    background-color: deepskyblue;
}

.autoCompleteBox.right {
    right: -110px;
    top: 0;
}

.autoCompleteOption:not(:first-child) {
    border-top: 1px solid black;
}

.autoCompleteOption:hover {
    outline: 2px solid blueviolet;
}

.autoCompleteBox.bottom {

}