html {
    font-size: 2rem;
    white-space: nowrap;
}



* {
    position: relative;
}

.query {
    display: inline-block;
    text-align: center;
    border: 0.08em solid black;
}


.query > *:not(:first-child) {
    border-top: 0.08em solid black;
}

.selectBox {
    padding: 0.3em;
}

.arrowGridContainer {
    height: 6em;
}

.arrowGrid {
    display:none;
    top: 1em;
    border: 1px solid black;
    height:3em;
}

.fromBox {
    padding: 0.3em;
}

.columnName {
    display: inline-block;
}


.arrowContainer {
    position: absolute;;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.point {
    background-color: blue;
    height: 0.2em;
    width: 0.2em;
    left: 50%;
    opacity: 1;
}

.point:not(:first-child) {
    margin-top: 1em;
}

.placeholder {
    opacity: 0;
}

.verticalArrowLine {
    position: absolute;
    width: 0.2em;
    height: 1.4em;
    z-index: 2;
    opacity: 1;
    background-color: #95536b;

}

.verticalHead {
    position: absolute;
    background-color: inherit;
    width: 0.2em;
    top: 0.05em;
    height: 1em;
    transform-origin: top;
}

.verticalHead.left {
    transform: rotate(30deg);
}
.verticalHead.right {
    transform: rotate(-30deg);
}

.horizontalArrowLine {
    position: absolute;
    height: 0.2em;

    background-color: #95536b;
    opacity: 1;
    z-index: 2;

}