body {
    font-size: 2rem;
    position: relative;
}

.htmlLol {
    border: 0.1em solid black;
}

table {
    display: inline-table;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
}

td {
    border: solid black;
    border-width: 0px 2px;
    padding: 10px;
}

tr:not(:first-child):hover {
    background-color: skyblue;
}

tr:not(:first-child):active {
    background-color: deepskyblue;
}

/*tr:not(:last-child) {
    display: none;
}*/

.regexEditor {
    display: inline-block;
    min-width: 50px;
    padding: 10px;
}

.tableBox {
    display: inline-block;
    border: 0.1em solid black;
    padding: 0.1em;
    vertical-align: middle;
}




.tableBox:not(:first-child) {
    margin-left: 0.1em;
}


.orBox:not(:first-child) {
    margin-left: 0.1em;
}

.tableBox.focusedBefore {
    border-color: blueviolet;
}

.opt {
    border-color: gray;
}


.literal {
    border-color: darkred;
}

.tableBox.literal.focusedBefore {
    border-color: red;
}

.orBox {
    display: inline-block;
    border: 0.1em solid black;
    vertical-align: middle;
}

.orBox.focusedBefore {
    border-color: blueviolet;
}

.orBoxAlt {
    padding: 0.1em;
}

.orBox.focusedBefore > .orBoxAlt {
    border-color: blueviolet;
}

.orBoxAlt:not(:last-child) {
    border-bottom: 0.1em solid black;
}
