html {
    font-size: 2rem;
}

* {
    cursor: default;
    user-select: none;
}

/* ELEMENT */

.element {
    display: inline-block;
    vertical-align: middle;
}

.element:not(.focus) > .leftPart{
    display: none;
}

.element:not(.focus) > .rightPart{
    display: none;
}

.tableBox {
    display: inline-block;
    border: 0.08em solid;
    vertical-align: middle;
    padding: 0.1em;
}

/* NFOLD1 */

.nfold > .tableBox{
    border-color: mediumvioletred;
}

.element.nfold.focus > .tableBox {
    box-shadow: 0 0 5px mediumvioletred;
}

.element.nfold.focus:not(.first) > .leftPart {
    display: none;
}

/* NFOLD0-Null */

.element.nfoldNull.focus > .tableBox {
    /*box-shadow: 0 0 5px palevioletred;*/
    animation: blink alternate 1s;
}

.element.nfoldNull > .tableBox {
    border-color: palevioletred;
    color: #4e4e4e;
}

@keyframes blink {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 5px palevioletred;
    }
}

/* NFOLD0 */

.element.nfold0.focus:not(.first) > .leftPart {
    display: none;
}

.element.nfold0 > .tableBox {
    border-color: #95536b;
}

.element.nfold0.focus > .tableBox {
    box-shadow:  #95536b 0 0 5px;
}


/* OR */

.element.or > .tableBox {
    border-color: dodgerblue;
}

.element.or.focus > .tableBox {
    box-shadow: 0 0 5px dodgerblue;
}

.element.or > .tableBox > .orElementAlt:not(:first-child) {
    border-top: 0.08em solid dodgerblue;
}

.orElementAlt.focus {
    background-color: lightskyblue;
}

.element.or:not(.chosen) > .tableBox {
    padding: 0;
    color: blue;
}

.orElementAlt {
    padding: 0.1em;
}

.element.or.chosen > .tableBox {
    border-color: #1c67c9;
}

.element.or.chosen.focus > .tableBox {
    box-shadow: #1c67c9 0 0 5px;
}



/* OPT */

.element.opt > .tableBox {
    border-color: gray;

}

.element.opt.focus > .tableBox {
    box-shadow: 0 0 5px  gray;
}
.element.opt.set > .tableBox {
    border-color: #4b4b4b;
}

.element.opt.focus.set > .tableBox {
    box-shadow: 0 0 5px #4b4b4b;
}


.element.opt.info > .tableBox {
    color: #4e4e4e;;
}


/* GROUP */

.element.group > .tableBox {
    border-color: #91ab00;
    color: #768f00;
}

.element.group.focus > .tableBox {
    box-shadow: #91ab00 0 0 5px;
}

.element.group.chosen > .tableBox {
    border-color: #718a00;
    color: black;
}

.element.group.chosen.focus > .tableBox {
    box-shadow: #718a00 0 0 5px;
}

/* ANY EXCEPT */

.element.anyExcept > .tableBox {
    border-color: #dcaf00;
    color: red;
}

.element.anyExcept.focus > .tableBox {
    box-shadow: #dcaf00 0 0 5px;
}

.element.anyExcept.chosen > .tableBox {
    color: black;
    border-color: #a67e00;
}

.element.anyExcept.chosen.focus > .tableBox {
    box-shadow: #a67e00 0 0 5px;
}

    /* BUTTONS */

.leftPart {
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.2em;
}

.rightPart {
    display: inline-block;
    vertical-align: middle;
    margin-left: -0.2em;
}

.buttonAdd {
    position: relative;
    z-index: 1;
    color: green;
    border: 1px solid green;

}

.buttonAddLetter {
    margin-top: -0.1em;
    margin-bottom: -0.1em;
    font-size: 0.5em;
    font-weight: bold;
}

.buttonAdd:hover {
    background-color: lightgreen;
    border-color: darkgreen;
}

.buttonAdd:active {
    background-color: mediumseagreen;
}

.buttonDelete {
    border: 1px solid red;
    color: #ff4432;
    text-align: center;
}


.buttonDeleteLetter {
    margin-top: -0.4em;
    margin-bottom: -0.2em;
    font-size: 0.5em;
    color: red;
}


.buttonDelete:hover {
    background-color: #ff8aae;
}
.buttonDelete:active {
    background-color: indianred;
}



.buttonInfo {
    border: 1px solid black;
    text-align: center;
}

.buttonInfo:hover {
    background-color: lightgray;
}

.buttonInfo:active {
    background-color: gray;
}

.buttonInfoLetter {
    font-size: 0.5em;
}

.buttonCloseInfo {
    border: 1px solid black;
    text-align: center;
}

.buttonCloseInfo:hover {
    background-color: lightgray;
}

.buttonCloseInfo:active {
    background-color: gray;
}

.buttonCloseInfoLetter {
    font-size: 0.5em;
    margin-top: -0.1em;
}