html {
    font-size: 1.5rem;
}

.tableBox {
    display: inline-block;
    border: 0.1em solid palevioletred;
}

.element:not(.focus) > .middlePart > .tableBox:hover {
    box-shadow: 0 0 5px palevioletred;
}

.element.focus > .middlePart > .tableBox {
    border-color: mediumvioletred;
    box-shadow: 0 0 3px mediumvioletred;

}

.element.focus > .middlePart > .tableBox:hover {
    border-color: mediumvioletred;
    box-shadow: 0 0 5px mediumvioletred;

}



.element {
    display: inline-block;
    vertical-align: center;
}

.element > .upperPart {
    margin-bottom: -0.1em;
}

.buttonDelete {
    display: inline-block;
    color: #ff4432;
    border: 0.05em solid red;
    margin-top: -0.7em;
}

.buttonDelete:hover {
    background-color: #ff8aae;
}
.buttonDelete:active {
    background-color: indianred;
}

.buttonDeleteLetter {
    margin-top: -0.5em;
    margin-bottom: -0.3em;
    margin-right: 0.1em;
    margin-left: 0.1em;
}

.rightPart {
    display: inline-block;
}

.buttonAdd {
    display: inline-block;
    color: green;
    font-size: 0.7em;
    border: 0.05em solid green;
}

.buttonAdd:hover {
    background-color: lightgreen;
    border-color: darkgreen;
}

.buttonAdd:active {
    background-color: mediumseagreen;
}

.buttonAdd.left {
    margin-right: -0.1em;
}


.buttonAdd.right {
    margin-left: -0.1em;
}

.buttonAddLetter {
    margin: -0.23em 0.05em;
}

.upperPart {
    text-align: center;

}

.element:not(.focus) > *:not(.middlePart) {
    display: none;
}

.element:not(.focus) > .middlePart > *:not(.tableBox) {
    display: none;
}

.orElement {
    display: inline-block;
    vertical-align: middle;
    border: 0.1em solid dodgerblue;
}

.orElementAlt {
    padding: 0.1em;
}
.orElementAlt:not(:first-child) {
    border-top: 0.1em solid dodgerblue;
}

.orElement:hover {
    box-shadow: 0 0 3px dodgerblue;
}

.orElementAlt:hover {
    background-color: lightskyblue;
}

.orElementAlt:active {
    background-color: deepskyblue;
}