

.QUERY {
  display: inline-block;
}

.block {
  display: table;
  border-radius: 10px;
  border: 2.5px solid;
  text-align: center;
  margin: 15px;
  max-width: 300px;
  padding: 0.5em;

}


.block_descriptor_outer {
  margin-bottom: -1.2em;
}

.block_descriptor {
  position: relative;
  bottom: 1.1em;
  background-color: white;
  font-size: large;

}

.block_content {
  text-align: center;
  font-size: medium;
}

.FROM {
  min-width: 300px;
  max-width: none;

}

.SELECT {
  border-color: green;
}

.COLUMN {
  display: inline-block;
  min-width: 50px;
  border-color: darkblue;
  height: 20px;
  padding: 5px;
  cursor: text;

}

.TABLE {
  display: inline-block;
  min-width: 50px;
  padding: 5px;
  border-radius: 0;
  border-width: 1px;

}

.TABLE:not(:last-child) {
  margin-right: 0px;
}



.TABLE_INFO {
  display: none;
}

.TABLE:hover .TABLE_INFO {
  display: block;
  border-top: 1px solid black
}



.autoCompleteWindow {
  min-width: 80px;
  border: 1px solid black;
  display: table;
  position: absolute;
  border-collapse: collapse;
  background-color: rgba(211, 211, 211, 0.84);


}
.autoCompleteRow {
  display: table-row;
}
.autoCompleteEntry {
  display: table-cell;
  border: 1px solid black;
}

.autoCompleteEntry:hover {
  background-color: aqua;
}

.autoCompleteEntry:active {
  background-color: deepskyblue;
}

.INNER-JOIN-MARKER {
  display: inline-block;
  margin-right: -15px;
  font-size: 30px;
  text-align: center;
  vertical-align: -3px;
}

.INNER-JOIN {
  display: inline-table;
  border: 2px solid black;

}

.INNER-JOIN-ON {
  display: table-row;
}

.INNER-JOIN-TABLES {
  display: table-row;

}


/*
.textField:hover:not(:focus) {
  border: 2px solid blue;
}*/



/*.TABLE_NAME {
  display: inline-block;
  border: 1px solid black;
  min-width: 50px;
  padding: 5px;
  border-width: 1px;

}*/
