body {
    font-size: 3rem;
}

.tableBox {
    display: inline-block;
    border: 0.05em dashed gray;
    position: relative;
}

.boxDescriptor {
    text-align: center;
    font-size: 0.6em;
    margin-top: -0.6em;
}

.boxDescriptorText {
    display: inline-block;
    background-color: white;
}

.caretContainer {
    position: absolute;
    left: -0.2em;
    top: 0.2em;
}

.letter > .caretContainer{
    left: -0.05em;
    top: -0.05em;
}

.caret {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.letter {
    display: inline-block;
    position: relative;
}



.editor {
    display: inline-block;
    position: relative;
}