body {
    background-color: white;
    color: black;
    border-color: black;
    white-space: nowrap;
}

textarea {
    font-size: 2.5rem;
}

button {
    font-size: 2.5rem;
}

.SQLInput {
    text-align: center;
}

.decreaseFontSize {
    font-size: smaller;
}


.editor {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    padding: 1em;
    transition: font-size 1s;
}
/*
.editor:active {
    font-size: 3em;
}*/

.verticalBlockContainer {
    display: inline-block;
    vertical-align: middle;
}

.verticalBlockContainer > *:not(:first-child) {
    margin-top: 1em;
}



.block {
    position: relative;
    border: 0.1em solid black;
    text-align: left;

    min-width: 100px;
    min-height: 40px;
    height: 100%;
    vertical-align: middle;

}


.transBorderBlock {
    border-color: transparent;
}

.transBorderBlock > .blockContent {
    padding: 0.5em;
}

.round {
    border-radius: 5px;
}


.blockDescriptor {
    position: relative;
    margin-top: -0.7em;
    z-index: 0;
    text-align: center;
}

.left {
    text-align: left;
}

.left + .blockContent {
    text-align: left;
    margin-left: 3em;
}

.blockDescriptorText {
    background-color: white;
    display: inline-block;

}

.blockContent  {
    position: relative;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    padding: 1.1em 1em 0.7em;
    margin-top: -0.4em;
}





.JOIN {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.joinSymbol {
    font-size: 2.5em;
}


.innerQueryContainer {
    display: inline-block;
    text-align: center;
    border: 0.1em solid black;
    vertical-align: middle;
    padding: 1em;
}

.table {
    display: inline-block;
    text-align: center;
    border: 0.1em solid black;
    vertical-align: middle;


}

.tableDescriptor {
    border-bottom: 0.1em solid black;
    padding: 0.2em;
}

.tableContent {
    padding: 1em;
}

.tableColumns {
    padding: 0.3em 0.5em;
}

.tableOp {
    display: inline-block;
    font-size: 2.5em;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
    bottom: 0.05em;
}

.whereLine:not(:first-child) {
    margin-top: 0.2em;
}

.literal {
    display:inline-block;
}

.selectColumn {
    display: inline-block;
    vertical-align: top;
}

.selectColumn:not(:first-child) {
    margin-left: 1em;
    vertical-align: top;
}