

body {
    font-family: Arial;
    padding: 20px;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.TABLE {
    position: relative;
    display: inline-block;
    min-width: 50px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.TABLE:not(:last-child) {
    margin-right: 0px;
}


.TABLE_NAME {
    font-weight: bold;
}

.TABLE_INFO {
    display: block;
    border-top: 1px solid black

}

.TABLE:hover .TABLE_INFO {
    display: block;
}

.TABLE_MENU {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: smaller;
 }

.TABLE_MENU_RIGHT {
    right: -27px;
}

.TABLE_MENU_LEFT {
    left: -27px;
}

.TABLE_BUTTON {
    display: inline-block;
    padding: 2px;
    font-size: x-small;
    position: relative;
    top: 3px;
    border: 1px solid gray;
    background-color: #eee;
}

.TABLE_BUTTON:hover {
    border-width: 2px;
}

.MENU_ELEMENT_CROSS {
   color: red;
    position: absolute;
    top: -11px;
    left: -6px;
 }

.MENU_ELEMENT_CROSS:before {
    /*✕*/
    content: "✕";
    border: 1px solid gray;
    background-color:#eee;
    cursor: pointer;

}

.AUTO_COMPLETE {
    display: inline-block;
    border: 2px solid gray;

}

.AUTO_COMPLETE_ITEM {
    padding: 2px;
    background-color: lightgray;
}


.AUTO_COMPLETE_ITEM:hover {
    background-color: aqua;
}

.AUTO_COMPLETE_ITEM:active {
    background-color: deepskyblue;
}

/**/

.AUTO_COMPLETE_ITEM:not(:last-child) {
    border-bottom: 1px solid gray;

}