
#sqlVisual > img {
    width: 1000px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 9px;
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

#taskVisual {
    display: none;
}

#taskText {
    display: none;
}
