html {
    font-family: monospace;
    padding: 1em;
    white-space: nowrap;
}



.task {
    font-size: 1.5rem;
    margin-top: -0.5em;
}

.taskDescription {
    margin-top: 1em;
}

.taskDescription.prologue {
    position: absolute;
    left: 50%;
    top: 270px;
    transform: translate(-50%, 0);
}

.taskTargetContainer {
    display: inline-block;
    min-height: 570px;
    text-align: center;
}

.taskTarget {
    display: inline-block;
    vertical-align: middle;
    /*position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.taskInput {

}

button {
    font-size: inherit;
}

input {
    font-size: inherit;
    text-align: center;
    width: 300px;
}

.SQL {
    display: inline-block;
}

* {
    user-select: none;
    cursor: default;
    position: relative;
}

.join {
    text-align: center;
    display: table;
    padding: 0.1em 0.1em 0 0.1em;
    border-collapse: collapse;
    border: 0.05em solid black;
}

pre {
    text-align: left;
    font-size: 1.5rem;
}

code {
    text-align: left;
}


body {
    text-align: center;
}

.tests {
    display: inline-table;
    border-collapse: collapse;
}

.testCase {
    display: table-row;
}

.testCase:not(:first-child) {
    border-top: 0.1em solid black;
}


.testBlock{
    display: table-cell;
    padding: 0.5em;
    vertical-align: top;
}


.testBlock:nth-child(1) {
    border-right: 0.1em solid black;
}

.testBlock:nth-child(2) {
    border-left: 0.1em solid black;
}



.tableTop {
    display: table-row;
}

.tableBottom {
    display: table-row;
}

.tableTop > * {
    display: table-cell;
}

.tableBottom > * {
    display: table-cell;
    padding: 0.1em;
    vertical-align: bottom;

}

.joinSymbol {
    margin-top: -0.6em;
}



.joinSymbolText {
    display: inline-block;
    background-color: white;
    border: 0.1em solid black;
}

.tableLiteral {
    border: 0.2em solid black;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 0.15em;
}

.tableLiteral > .tableName {
    font-size: 2em;
}


/*
.singleTable > .pin.top {
    top: -0.2em;
}

.singleTable > .pin.bottom{
    bottom: -0.2em;
}
*/


.lineSeparator {
    display: inline-block;
    height: 100%;
    width: 0.1em;
    background-color: black;

}



.sfwBlock {
    display: table;
    border-collapse: collapse;
    border: 0.1em solid black;
    text-align: center;
}

.sfwBlock > *{

    padding: 0.1em;
}

.selectClause {
    display: table-cell;
    padding: 0.8em 0.2em;
    text-align: left;
}

.selectClause.all > .selectedAttributes {
    text-align: center;
}

.selectClause.all > .collectedNames {
    border: 0.1em solid green;
}

.selectedAttributes.all {
    text-align: center;
}

.selectColumn {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.column {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}


/*TODO some wtf happens if you make this higher... */
.selectolumn:not(:first-child) {
    margin-left: 0.6em;
}

.column.all {
    border: 0.1em solid green;
}

.selectColumn.renamed > .as {
    color: #6700c9;
}

.sfwBlock > *:not(:first-child) {
    border-top: 0.05em solid black;
}

.sfwBlockRow {
    display: table-row;
}

.subqueryCellPlaceholder {
    display: table-cell;
}


.fromClause {
    display: table-cell;;
    padding: 0.8em 0.2em 0.2em 0.2em;
}

.leftCell {
    padding: 0.2em 1em 0.2em 0.2em;
}

.rightCell {
    padding: 0.2em 0.2em 0.2em 1em;

}



.joinArrowPoint {
    position: absolute;
    width: 1em;
    height: 2em;
    background-color: blue;
    top: 0;
    left: 0;
}

.joinCollectorGroup {
    display: inline-block;
}

.collectedNames {
    height: 1.2em;
    text-align: left;
}

.collectedNamesForSelect {
    height: 1.2em;
    text-align: left;
}




.copiedSelectPart {
    display: inline-block;
     position: absolute;
}


.copiedSelectedAttribute {
    display: inline-block;

}

.copiedSelectedAttribute:not(:first-child) {
    display: inline-block;
    margin-left: 1em;

}

.copyBracket {
    display: inline-block;
    position: absolute;;
}

.copyBracket.left {
    left: -0.3em;
}

.pin {
    position: absolute;
    background-color: blue;
    width: 0.15em;
    height: 0.15em;
}

.pin.top {
    top: 0.05em;
    left: 50%;
}

.pin.bottom {
    bottom: -0.2em;
    left: 50%;
}
.pin.left {
    top: 50%;
    left: -0.2em;
}
.pin.right {
    top: 50%;
    right: -0.15em;
}

.condAttribute {
    display: inline-block;
    text-decoration: underline;
}

.condAttribute .pin.right {
    right: -0.2em;
}

.condAttribute .pin.left {
    left: -0.2em;
}

.hidePins .pin {
    opacity: 0;
}


.verticalLine {
    position: absolute;
}

.verticalLine.dashed {
    border-left: 0.05em dashed;
    width: 0.05em;
}

.subqueryName {
    display: inline-block;
    padding: 0.4em;
    border: 0.1em solid black;
    border-radius: 100px;

}

.verticalLine.straight  {
    width: 0.15em;
}

.horizontalLine {
    position: absolute;
}

.horizontalLine.straight {
    height: 0.15em;
}


.leftArrowHead {
    position:absolute;
    height: inherit;
    width: 0.4em;
    background-color: inherit;
    transform-origin: left;
    left: 0;

}

.whereClause {
    padding: 1em;
    z-index: 2;
}

.whereClause .literal {
    background-color: white;
}


.leftArrowHead.top {
    transform: rotate(-50deg);
    top: 0.05em;
}

.leftArrowHead.bottom {
    transform: rotate(50deg);
    bottom: 0.05em;
}

.rightArrowHead {
    position:absolute;
    height: inherit;
    width: 0.4em;
    background-color: inherit;
    transform-origin: right;
    right: 0;

}

.rightArrowHead.top {
    transform: rotate(-50deg);
    top: -0.05em;

}

.rightArrowHead.bottom {
    transform: rotate(50deg);
    bottom: -0.05em;
}


.topArrowHead {
    position:absolute;
    height: 0.4em;
    width: inherit;
    background-color: inherit;
    transform-origin: top;
    top: 0;

}

.topArrowHead.left {
    transform: rotate(45deg);
    right: -0.05em;

}

.topArrowHead.right {
    transform: rotate(-45deg);
    left : -0.05em;
}

.expression {
    text-align: center;

}

.box {
    display: inline-block;
    border: 0.18em solid blue;
    border-radius: 4px;
    vertical-align: middle;
    margin-top: 0.2em;
}

.box.red {
    border-color: darkred;
}

.boxDescriptor {
    margin-top: -0.7em;
}

.boxDescriptorText {
    display: inline-block;
    background-color: white;
    margin: 0 0.2em;
}

.boxContent {
    font-size: smaller;
}

.boxSection:not(:first-child) {
    border-top: 0.18em solid blue;
}



.boxSection {
    padding: 0.4em;

}

.boxSection > *:not(:first-child) {
    margin-left: 1em;
}

.expression > *:not(:first-child) {
    margin-left: 1em;
}


.comparison {
    display: inline-block;
}


.literal {
    display: inline-block;
    vertical-align: middle;
}