html {
    font-size: 2rem;
    padding: 1em;
    white-space: nowrap;
}

* {
    position: relative;
}

.join {
    text-align: center;
    display: table;
    padding: 0.1em;
    border-collapse: collapse;
    border: 0.05em solid black;

}

.tableTop {
    display: table-row;
}

.tableBottom {
    display: table-row;
}

.tableTop > * {
    display: table-cell;
}

.tableBottom > * {
    display: table-cell;
    padding: 0.1em;
    vertical-align: bottom;

}

.joinSymbol {
    margin-top: -0.6em;
}

.joinSymbolText {
    display: inline-block;
    background-color: white;
}

.tableLiteral {
    border: 0.05em solid black;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
}
/*
.singleTable > .pin.top {
    top: -0.2em;
}

.singleTable > .pin.bottom{
    bottom: -0.2em;
}
*/


.lineSeparator {
    display: inline-block;
    height: 100%;
    width: 0.1em;
    background-color: black;

}



.sfwBlock {
    display: inline-block;
    border: 0.05em solid black;
    text-align: center;
}

.sfwBlock > *{

    padding: 0.1em;
}

.selectClause {
    padding: 0.8em 0.2em;
    text-align: left;
}

.column {
    display: inline-block;
}
/*TODO some wtf happens if you make this higher... */
.column:not(:first-child) {
    margin-left: 0.6em;
}

.sfwBlock > *:not(:first-child){
    border-top: 0.05em solid black;
}



.fromClause {
    padding: 0.8em 0.2em 0.2em 0.2em;
}

.leftCell {
    padding: 0.2em 1em 0.2em 0.2em;
}

.rightCell {
    padding: 0.2em 0.2em 0.2em 1em;

}



.joinArrowPoint {
    position: absolute;
    width: 1em;
    height: 2em;
    background-color: blue;
    top: 0;
    left: 0;
}

.joinCollectorGroup {
    display: inline-block;
    vertical-align: bottom;
}


.collectedNames {
    height: 1.2em;
}

.copiedSelectPart {
    display: inline-block;
    position: absolute;
}


.copiedSelectedAttribute {
    display: inline-block;

}

.copiedSelectedAttribute:not(:first-child) {
    display: inline-block;
    margin-left: 0.6em;

}

.copyBracket {
    display: inline-block;
    position: absolute;;
}

.copyBracket.left {
    left: -0.3em;
}

.pin {
    position: absolute;
    background-color: blue;
    width: 0.15em;
    height: 0.15em;
}

.pin.top {
    top: 0;
    left: 50%;
}

.pin.bottom {
    bottom: 0;
    left: 50%;
}
.pin.left {
    top: 50%;
    left: -0.15em;
}
.pin.right {
    top: 50%;
    right: -0.15em;
}

.condAttribute {
    display: inline-block;
}

.condAttribute .pin.right {
    right: -0.2em;
}

.condAttribute .pin.left {
    left: -0.2em;
}

.hidePins .pin {
    opacity: 0;
}


.verticalLine {
    position: absolute;
}

.verticalLine.dashed {
    border-left: 0.1em dashed;
    width: 0.05em;
}

.verticalLine.straight  {
    width: 0.15em;
}

.horizontalLine {
    position: absolute;
}

.horizontalLine.straight {
    height: 0.15em;
}


.leftArrowHead {
    position:absolute;
    height: inherit;
    width: 0.4em;
    background-color: black;
    transform-origin: left;
    left: 0;

}

.leftArrowHead.top {
    transform: rotate(-50deg);
    top: 0.05em;
}

.leftArrowHead.bottom {
    transform: rotate(50deg);
    bottom: 0.05em;
}

.rightArrowHead {
    position:absolute;
    height: inherit;
    width: 0.4em;
    background-color: black;
    transform-origin: right;
    right: 0;

}

.rightArrowHead.top {
    transform: rotate(-50deg);
    top: -0.05em;

}

.rightArrowHead.bottom {
    transform: rotate(50deg);
    bottom: -0.05em;
}