html {
    font-size: 3rem;
}

body {
    padding: 1em;
    position: relative;
    z-index: -1;
    background-color: lightskyblue;
}

.editor {
    position: relative;
    padding: 0.2em;
    border: 0.1em solid black;
    z-index: -1;
    background-color: white;
}

.letter {
    position: relative;
    display: inline-block;
    z-index: -1;
}

.eof {
    display: inline-block;
    position: relative;
}

.caret {
    display: inline-block;
    position: relative;
    font-weight: bold;
    animation: blink 1.5s step-end infinite ;
    z-index: 1;
}

.caretContainer {
    display: inline-block;
    position: absolute;
    left: -0.1em;
    z-index: 1;
}

.optionsBox {
    position: relative;
    display: inline-block;
    font-size: 0.6em;
    text-align: center;
    border: 0.05em solid deeppink;
    color: deeppink;
    font-weight: bold;
    z-index: 1;


}

.above {
    position: absolute;
    text-align: center;
    min-width: 3em;
    top: -2em;
    right: -600%;
    z-index: 1;
}


.optionGroup {
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.option {
    z-index: 1;
    border: 0.1em solid transparent;
}


@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
