html {
    font-family: monospace, monospace;
    /*padding: 1em;*/
    white-space: nowrap;

}

.SQL {
    display: inline-block;
}

* {
    user-select: none;
    cursor: default;
    position: relative;
}

.subQuery {
    display: inline-block;

}


.tableLiteral {
    display: inline-block;
    padding: 0.2em;
    border: 0.1em solid black;
    min-width: 4em;
    text-align: center;
}

.inlineBlock {
    display: inline-block;
}

.join {
    display: inline-table;
    text-align: center;
    border: 0.1em solid black;
    padding: 0.3em;
    margin-top: 0.6em;
}

.joinArrowSpace > *{
    height:3em;
}

.selectArrowSpace {
    height: 3em;
}

.cell {
    display: table-cell;
}

.row {
    display: table-row;
}



.clause {
    padding: 0.3em;
    text-align: center;
}

.clause.select {
    text-align: left;
}

.clause.from {
    border-top: 0.2em solid black;
}

.clause:not(:first-child) {
}


.joinTable {
    padding: 0 0.5em;
}

.joinCondNestedTable {
    display: table;
    margin-top: -1.2em;
}



.joinCondNestedSymbol {
    font-size: 1.5em;
    background-color: white;
}


.joinCondComparison > .cell > *{
    margin-top: -0.3em;
}

.joinCondComparisonLeft {
    text-align: right;
}

.joinCondComparisonSymbol {
    padding: 0 0.3em;
    font-size: 1.5em;
}

.joinCondComparisonRight {
    text-align: left;
}


.verticalLine {
    position: absolute;
}

.verticalLine.dashed {
    border-left: 0.05em dashed;
    width: 0.05em;
}


.verticalLine.straight  {
    width: 0.15em;
}

.horizontalLine {
    position: absolute;
}

.horizontalLine.straight {
    height: 0.15em;
}


.leftArrowHead {
    position:absolute;
    height: inherit;
    width: 0.4em;
    background-color: inherit;
    transform-origin: left;
    left: 0;

}


.leftArrowHead.top {
    transform: rotate(-50deg);
    top: 0.05em;
}

.leftArrowHead.bottom {
    transform: rotate(50deg);
    bottom: 0.05em;
}

.rightArrowHead {
    position:absolute;
    height: inherit;
    width: 0.4em;
    background-color: inherit;
    transform-origin: right;
    right: 0;

}

.rightArrowHead.top {
    transform: rotate(-50deg);
    top: -0.05em;

}

.rightArrowHead.bottom {
    transform: rotate(50deg);
    bottom: -0.05em;
}


.topArrowHead {
    position:absolute;
    height: 0.4em;
    width: inherit;
    background-color: inherit;
    transform-origin: top;
    top: 0;

}

.topArrowHead.left {
    transform: rotate(45deg);
    right: -0.05em;

}

.topArrowHead.right {
    transform: rotate(-45deg);
    left : -0.05em;
}

.subQuery {
    display: inline-block;
    border: 0.2em solid black;
}

.selectColumn {
    display: inline-block;
    vertical-align: top;
}

.selectColumn:not(:first-child) {
    margin-left: 0.3em;
}

.originalColumn {
    display: inline-block;
}

.as {
    text-align: center;
}
.asWord {
    color: #0252ff;
}

.asWordContainer {
    display: inline-block;;
    font-size: 0.9em;
    margin-left: -0.5em;
}


