body {
    background-color: lightskyblue;
}

.reggaeMenuContainer {
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
}

.reggaeEditor {
    display: inline-block;
    border: 2px dotted black;
    padding: 10px 5px;
}




h5 {
    margin: 0 0 0.2em;
}



.visualReggaeDisplay {
    position: relative;
    padding: 15px 0px;
    text-align: center;
}

.selector {
    opacity: 0;
    font-size: x-large;
    background-color: darkviolet;
    border-radius: 1.5px;
}

.selector.inside {
    position: relative;
    left: 1px;
}

.selector.real {
    opacity: 1;
    position: absolute;
    transition: top 0.5s, left 0.5s;
}

.selector.steady {
    animation: ding 1s infinite step-end;
}


@keyframes ding {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: darkviolet;
    }
}

.block {
    display: inline-block;
    position: relative;
    border: 1.5px solid;
    text-align: center;
    min-width: 50px;
    padding: 10px 5px;
    height: 100%;
    vertical-align: middle;
}


.round {
    border-radius: 5px;
}


.orStyle {
    border-color: blue;
    padding: 0;
}

.orStyle > .blockDescriptor {
    bottom: 0.7em;
}

.obligatoryStyle {
    border-color: red;
}

/*
.obligatoryStyle > .blockDescriptor{
    color: red;
}*/






.blockDescriptor {
    background-color: lightskyblue;
    position: relative;
    bottom: 1.5em;
    display: inline-block;
    z-index: 0;
 }

.blockContent  {
    position: relative;
    margin-top: -0.8em;
    z-index: 1;

}
.orOption {
    padding: 2px;
}

.orOption > .block  {
    margin: 14px 0px 12px;
}

.orOption > .block:first-child {
    margin-left: 5px;
}


.orOption > .block:last-child {
    margin-right: 5px;
}


.orOption:not(:first-child) {
    border-top: 1px solid black;
}

.orOption:hover {
    outline: aqua 1px solid;
}

.orOption:active {
    outline-color: deepskyblue;

}

.block.optionalStyle {
    border-color: rgba(0, 0, 0, 0.55);
}


.inputContainer {
    text-align: center;
}

input {
    text-align: center;
    margin-top: 10px;
    border: 1.5px solid black;
    display:inline-block;
}

