body {
    background-color: lightskyblue;
}

.boom {
    background-color: gray;
}

.container-inputz {
    position: relative;
}

.inputz {
    display: inline-block;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    min-width: 200px;
    padding: 2px;
}

.inputz:not(:first-child) {
    margin-top: 15px;
}

.fake {
    font-family: inherit;

    font-size: inherit;
    position: absolute;
    top: -1px;
    right: 19.8%;
    /*color: transparent;*/
    opacity: 0.5;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    user-select: none;
}

.redA {
    color: red;
}

.block_content {
    position: relative;

}



.blaa {
    color:red;
    display: inline-block;
}

.placeholder {

    box-sizing: border-box;
    display: inline-block;
    padding: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid;
}

.placeholder:not(:first-child) {
    margin-left: 0.5px;
}

.placeholder:hover {
    border-width: thick;
}

.muss {
    border-color: red;
}

.muss.gemacht {
    border-color: green;
}


.optional {
    border-color: gray;
}


.blinking-cursor {
    background-color: blue;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}



@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: blue;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}




