* {
    font-size: 1.4em;
}

.letter {
    position: relative;
}

.caret {
    animation: blink 1s step-end infinite;
    color: darkviolet;
    position: absolute;
    top: -0.15em;
    left: -0.08em;
}

.caret::before {
    content: "|"
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}